In [6]:
# Importar las bibliotecas
import pandas as pd
import polars as pl

# Crear un DataFrame con Pandas
data_pandas = {
    "nombre": ["Ana", "Luis", "María", "Juan", "Lucía"],
    "edad": [23, 45, None, 25, 30],
    "ciudad": ["Madrid", "Barcelona", "Valencia", "Sevilla", "Bilbao"],
    "salario": [50000, 60000, 70000, 80000, 90000]
}
df_pandas = pd.DataFrame(data_pandas)

# Operaciones avanzadas con Pandas
print("DataFrame con Pandas:")
print(df_pandas)
print("\nRellenar datos faltantes en la columna 'edad':")
df_pandas["edad"].fillna(df_pandas["edad"].mean(), inplace=True)
print(df_pandas)
print("\nAgrupar por 'ciudad' y calcular la media del salario:")
print(df_pandas.groupby("ciudad")["salario"].mean())

# Crear un DataFrame con Polars
df_polars = pl.DataFrame(data_pandas)

# Operaciones avanzadas con Polars
print("\nDataFrame con Polars:")
print(df_polars)
print("\nRellenar datos faltantes en la columna 'edad':")
df_polars = df_polars.with_columns(
    pl.col("edad").fill_nan(df_polars["edad"].mean())
)
print(df_polars)
print("\nAgrupar por 'ciudad' y calcular la media del salario:")
print(df_polars.group_by("ciudad").agg(pl.col("salario").mean()))

DataFrame con Pandas:
  nombre  edad     ciudad  salario
0    Ana  23.0     Madrid    50000
1   Luis  45.0  Barcelona    60000
2  María   NaN   Valencia    70000
3   Juan  25.0    Sevilla    80000
4  Lucía  30.0     Bilbao    90000

Rellenar datos faltantes en la columna 'edad':
  nombre   edad     ciudad  salario
0    Ana  23.00     Madrid    50000
1   Luis  45.00  Barcelona    60000
2  María  30.75   Valencia    70000
3   Juan  25.00    Sevilla    80000
4  Lucía  30.00     Bilbao    90000

Agrupar por 'ciudad' y calcular la media del salario:
ciudad
Barcelona    60000.0
Bilbao       90000.0
Madrid       50000.0
Sevilla      80000.0
Valencia     70000.0
Name: salario, dtype: float64

DataFrame con Polars:
shape: (5, 4)
┌────────┬──────┬───────────┬─────────┐
│ nombre ┆ edad ┆ ciudad    ┆ salario │
│ ---    ┆ ---  ┆ ---       ┆ ---     │
│ str    ┆ i64  ┆ str       ┆ i64     │
╞════════╪══════╪═══════════╪═════════╡
│ Ana    ┆ 23   ┆ Madrid    ┆ 50000   │
│ Luis   ┆ 45   ┆ Barcelona ┆ 60000   │
│ María  ┆ null ┆ Valencia  ┆ 70000   │
│ Juan   ┆ 25   ┆ Sevilla   ┆ 80000   │
│ Lucía  ┆ 30   ┆ Bilbao    ┆ 90000   │
└────────┴──────┴───────────┴─────────┘

Rellenar datos faltantes en la columna 'edad':
shape: (5, 4)
┌────────┬──────┬───────────┬─────────┐
│ nombre ┆ edad ┆ ciudad    ┆ salario │
│ ---    ┆ ---  ┆ ---       ┆ ---     │
│ str    ┆ f64  ┆ str       ┆ i64     │
╞════════╪══════╪═══════════╪═════════╡
│ Ana    ┆ 23.0 ┆ Madrid    ┆ 50000   │
│ Luis   ┆ 45.0 ┆ Barcelona ┆ 60000   │
│ María  ┆ null ┆ Valencia  ┆ 70000   │
│ Juan   ┆ 25.0 ┆ Sevilla   ┆ 80000   │
│ Lucía  ┆ 30.0 ┆ Bilbao    ┆ 90000   │
└────────┴──────┴───────────┴─────────┘

Agrupar por 'ciudad' y calcular la media del salario:
shape: (5, 2)
┌───────────┬─────────┐
│ ciudad    ┆ salario │
│ ---       ┆ ---     │
│ str       ┆ f64     │
╞═══════════╪═════════╡
│ Sevilla   ┆ 80000.0 │
│ Valencia  ┆ 70000.0 │
│ Bilbao    ┆ 90000.0 │
│ Madrid    ┆ 50000.0 │
│ Barcelona ┆ 60000.0 │
└───────────┴─────────┘